/* Estilo general del cuerpo */

:root {
  --blanco: #ffffff;
  --negro: #212121;
  --primario: #334257;
  --secundario: #476072;
  --terciario: #548CA8;
  --cuaternario: #EEEEEE;
}
body {
  /* background: rgb(255,255,255);
background: linear-gradient(85deg, rgba(255,255,255,1) 0%, rgba(29,207,165,1) 100%); */
background-color: var(--cuaternario);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: auto;
  /* height: 3000px; */
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 16px;
  font-family: "Montserrat";
}

header{
  justify-content: center;
}
.headerLogo{
  width: auto;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Encabezado */
.divBotones {
  backdrop-filter: blur(10px);
  background-color: var(--secundario);
  position: sticky;
  color: #ffffff;
  
  width: auto;
  left: 0;
  top: 0;
  padding: 7px;
  margin: 0;
  display: flex; /* Flexbox para la distribución */
  align-items: center; /* Centrado vertical */
  flex-direction: column;
  gap: 10px; /* Espaciado entre elementos */
  z-index: 10;
  -webkit-box-shadow: 0px 8px 53px -15px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 8px 53px -15px rgba(0, 0, 0, 0.77);
  box-shadow: 0px 8px 53px -15px rgba(0, 0, 0, 0.77);
  border-radius: 0px 0px 40px 40px;
  padding: 1rem;
  font-family: "Montserrat";
}
@media screen and (min-width: 768px) {
  .divBotones{
    flex-direction: row;
  }
  .iconosPDFExcel{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(206, 206, 206);
    flex-direction: column;
  }
  
}
.logo {
  height: 80px; /* Ajusta el tamaño de la imagen */
  width: auto;
}

.iconosPDFExcel{
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(206, 206, 206);
  flex-direction: column;
}
.enlaceDiv, .enlaceDiv a{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffff;
  text-decoration: none;
  
}
.container {
  display: flex; /* Habilita Flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: auto; /* Altura completa de la ventana */
  width: 100vw; /* Anchura completa de la ventana */
  flex-direction: column;
}
.container p {
  font-size: larger;
  font-weight: 500;
  margin-top: 0;
}
/* Imagen */
.icon {
  max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
  max-height: 100%; /* Asegura que no exceda la altura del contenedor */
}
/* Lista de proveedores */
.listaProveedores {
  background-color: var(--primario);
  align-items: center;
  border-radius: 22px;
  border: solid var(--primario);
  padding: 15px 10px;
  color: var(--cuaternario);
  font-size: 16px;
  width: 300px;
}

.listaProveedores :hover{
  background-color: var(--secundario);
  color: var(--negro);
  transition: 0.5s;
}
/* Sección de botones */
.botonesDiv {
  position: sticky;
  margin: 0;
  height: 100px;
  width: auto;
  top: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: x-small;
  color: white;
  font-style: italic;
  
  z-index: 0;
  
}
.contDescargar{
  align-items: center;
  position: sticky;
  height: 120px;
  width: 100%;
  justify-content: center;
}

/* Estilo para input de archivos */
.inputFile1 {
  backdrop-filter: 10px;
  color: #ffffff;
}

/* Contenedor principal del contenido */
.contenedor {
  position: absolute;
  left: 5%;
  top: 150px;
  width: 90%; /* Ocupa el 90% del ancho de la página */
  bottom: 50px;
  height: auto;
  overflow-x: auto; /* Habilita el desplazamiento horizontal */
  margin-top: 0px;
  background: rgba(255, 255, 255, 0.5); /* Fondo semitransparente opcional */
  backdrop-filter: blur(20px);
  border-radius: 18px;
  padding: 0px; /* Añade espacio interno */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra opcional */
} 



/* Botsón de exportar a Excel */
.btnExcel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--primario);
  border: none;
  border: 0px;
  color: var(--cuaternario);
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 22px;
  border-style: solid;

}
.btnExcel:hover {
  background-color: var(--cuaternario);
  color: var(--negro);
  transition: 0.5s;
  /*box-shadow: -1px -1px 6px 0 rgb(122,221,102), 4px 4px 16px 2px rgb(92,162,235);*/
}
.btnExcel:active, .listaProveedores:active {
  background-color: var(--secundario);
  color: var(--cuaternario);
}
/* Botón de importar */
.btnImportar img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.listaProveedores option{
  border-radius: 10px;
}
.btnImportar:hover {
  background-color: #51d3c8;
  transition: 0.2s;
  /*box-shadow: -1px -1px 6px 0 rgb(122,221,102), 4px 4px 16px 2px rgb(122,221,102);*/
}

.btnImportar:active {
  background-color: var(--secundario);
  
}

/* Estilo para la tabla de datos */
.resultadosTable1 {
  width: 200%; /* Ajusta el ancho según las columnas */
  
  border-collapse: collapse;
  /* background-color: #ffffff23; */
  border-radius: 20px;
  max-height: 100vh;
  border-bottom: 20px;
  padding-bottom: 30px;
}

.resultadosTable1 th {
  border: 1px solid var(--terciario); 
  background-color: var(--terciario);
  height: 50px;
  position: sticky;
  top: 0;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: small;
  
}
.resultadosTable1 th:hover{
  color: #ffe6af;
  transition: 0.1s;
}
.resultadosTable1 td {
  border-bottom: 1px solid rgb(196, 196, 196);
  border-top: 0px solid var(--blanco);
  border-left: 0px solid var(--blanco);
  border-right: 0px solid var(--blanco);
  padding: 5px;
  text-align: left;
  font-size: small;
  
}
.resultadosTable1 td:hover{
  background-color: var(--terciario);
  color: var(--blanco);
  transition: 0.1s;
}


.creditos {
  display: flex; /* Flexbox para alinear la imagen y el texto */
  align-items: center; /* Centra verticalmente los elementos dentro del div */
  justify-content: space-between; /* Acomoda el logo y el texto */
  background-color: rgba(255, 255, 255, 0.427); /* Fondo oscuro para los créditos */
  backdrop-filter: blur(5px);
  color: var(--primario); /* Color del texto */
  font-style: arial;
  height: 30px; /* Mantiene una altura fija */
  width: 100%; /* Acomoda el div a lo ancho de la ventana */
  position: fixed; /* Fijo en la parte inferior de la ventana */
  bottom: 0; /* Fija el div al fondo de la página */
  padding: 0 20px; /* Espaciado interno horizontal */
  z-index: 10; /* Asegura que esté sobre otros elementos */
  font-weight: 500;
}


.verify_logo{
  height: 14px;
  align-items: center;
}
.creditos-texto {
  flex-grow: 1; /* El texto ocupa el resto del espacio */
  text-align: center; /* Alineación del texto */
  padding-left: 10px; /* Añade algo de espacio antes del texto */
  font-size: 15px; /* Tamaño de la fuente */
  
}

/* Estilo del contenedor de la barra */
.barra-contenedor {
  position: center;
  width: 100%; /* Ajusta el ancho total */
  height: 20px; /* Altura de la barra */
  background-color: #00000000; /* Color de fondo (gris claro) */
  backdrop-filter: 20px;
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Oculta el contenido que se sale del contenedor */
  position: relative;
  margin-top: 10px;
}

/* Estilo de la barra animada */
.barra-animada {
  width: 30%; /* Ancho de la barra animada */
  height: 100%;
  background: linear-gradient(85deg, rgba(51,66,87,1) 0%, rgba(84,140,168,1) 100%); /* Gradiente de colores */
  border-radius: 10px; /* Bordes redondeados */
  position: absolute;
  animation: moverBarra 1.5s linear infinite; /* Animación en bucle */
}

/* Animación para mover la barra */
@keyframes moverBarra {
  0% {
    left: -30%; /* Comienza fuera del contenedor */
  }
  100% {
    left: 100%; /* Se mueve fuera del contenedor al lado derecho */
  }
}
.gif_cargando{
  height: 50px;
}
/* Estilo para la tarjeta del mensaje */
.mensaje-card {
  width: 300px; /* Ancho de la tarjeta */
  padding: 20px; /* Espaciado interno */
  margin: 20px auto; /* Centrado horizontal */
  background-color: #ffffff3a; /* Fondo blanco */
  backdrop-filter: blur(9px);
  border-radius: 40px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  text-align: center; /* Alineación del texto */
  color: #333; /* Color del texto */
  font-size: 26px; /* Tamaño de fuente */
  max-width: 90%; /* Ancho máximo */

  display: flex;
  justify-content: space-evenly;
  
  position: fixed;
  bottom: 20px; /* Espaciado desde el fondo */
  left: 50%; /* Centrado horizontal */
  transform: translateX(-50%); /* Asegura que el centro de la tarjeta esté alineado con el centro de la ventana */
  
  animation: aparecer 0.5s ease-out;
}

/* Estilo para el texto dentro de la tarjeta */
.mensaje-card p {
  margin: 0;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*SECCION DE INFO*/
.infoEnlace:hover{
  color: #ffe6af;
  transition: 0.1s;
}
.seccionInfo{
  position: absolute;
  bottom: 190px;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  flex-direction: column;
}
.seccionInfo p{
  justify-content: center;
  margin-top: 1px;
  text-align: center;
}
.verifyLogo{
  height: 40px;
}
a{
  text-decoration: none;
}

.hidden {
  display: none;
}

.window-notice {
  /* background: rgba(33, 41, 52, .85); */
  /* backdrop-filter: blur(10px); */
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  position: fixed;
  z-index: 999;
}
.window-notice .content {
  background: #ffffff86;
  backdrop-filter: blur(20px);
  border-radius: 30px;
  box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  min-width: 320px !important;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 2rem;
  font-size: 1.3rem;
}

.manual{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.nota{
  background-color: #548ca8a1;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  width: 70%;


}

.nota > h1, .nota > p{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}


